.containerAlertBar {
  display: flex;
  width: 400px;
  padding: 16px;
  border: 1px solid #EAECF0;
  border-radius: 8px;
  gap: 8px;
}

.button {
  background-color: white;
  color: #344054;
  border: none;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #101828;
  margin: 0;
  border-bottom: none;
}

.description {
  color: #475467;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}