.containerAlertBar {
  display: flex;
  width: 400px;
  padding: 16px;
  border: 1px solid #EAECF0;
  border-radius: 8px;
  gap: 12px;
}

.iconNotification.info {
  color: #266EF1;
}

.iconNotification.check {
  color: #039855;
}

.iconNotification.error {
  color: #E02424;
}

.iconNotification.warning {
  color: #9F580A;
}

.type-dark {
  background-color: #101828;
}

.type-dark .title {
  color: white;
}

.type-dark .description {
  color: white;
}

.icons {
    color: #667085;
    display: flex;
    justify-content: space-between;
}

.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #101828;
  margin: 0;
  border-bottom: none;
}

.description {
  color: #475467;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}